/* Estilos para la página de contacto */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px;
}

header {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    align-self: flex-start;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
/* Estilos para el botón de volver al inicio */
.back-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#back-link {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
}

#back-link:hover {
    background-color: #45a049;
}
